body {
  height: 100%;
  width: 100%; }

iframe {
  margin: 10px 25%;
  width: 50%;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 75%;
  width: 100%;
}
#paneDiv {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(14, 13, 13);
  color: black;
}

header, footer, .center {
  text-align: center; }

th, td {
  padding: 2px 15px;
  max-width: 200px;
  overflow: auto;
  white-space: nowrap; }

h1 {
  font-family: 'Barriecito', cursive;
  font-size: 50px;
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  background-color: rgb(0, 217, 255);
}

h2, h3, h4, h5, h6, ul, li {
  margin-bottom: 0; }

footer {
  margin-top: 10px; }

.container {
  width: 95%;
  max-width: 95%; }

.grid {
  margin-bottom: 20px;
  width: 100%;
  height: 200px; }

.version {
  color: #ccc;
  font-size: 0.3em; }

.views {
  margin-top: -20px;
  margin-bottom: 10px; }

.download-button {
  margin-left: 10px; }

.no-margin {
  margin: 0px; }

.spinner {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  z-index: 1000;
  background-color: grey;
  border-radius: 25px;
  opacity: .8;
  text-align: center; }

.btn-group {
  width:50%;
  font-size: 20px;
  text-align: left;
  margin: 10px 25%;
  background-color: white;
}
.btn-group .btn {
 width:25%;
}
.spinner-icon {
  position: relative;
  top: 50%;
  margin-top: -100px;
  font-size: 200px;
  transform: translateY(-50%); }

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D9534F; }

.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
  color: #FFF;
  background-color: #C43E3A;
  border-color: #C43E3A; }

a {
  text-decoration: none
}
