<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="BTorrent" lang="en">
<head>
  <base href="">
  <meta charset="UTF-8">
  <title>Geospatial LiDAR DataHub</title>
  <!-- <meta name="description" content="βTorrent is the first fully-featured Browser WebTorrent Client">
  <meta name="keywords" content="βTorrent, btorrent, client, webtorrent, browser, torrent, stream, bittorrent, torrenting, sharing, filesharing">
  <meta name="author" content="Diego Rodríguez Baquero - DiegoRBaquero"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="trafficjunky-site-verification" content="rs9noatvt" />
  <!-- <script src="jquery-3.4.1.min.js"></script> -->
  <script
      src="https://cdn.jsdelivr.net/g/webtorrent@0,momentjs@2,angularjs@1.5(angular.min.js+angular-route.min.js+angular-sanitize.min.js),angular.ui-grid@3.1,angular.ng-notify@0.8,angular.file-upload@12"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/g/normalize@3.0,skeleton@2.0,angular.ng-notify@0.8(ng-notify.min.css)">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.ui-grid/3.1/ui-grid.min.css">
  <!-- <link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/themes/light/main.css" /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../leaflet/leaflet.css">
  
  
  <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
</head>
<body ng-controller="BTorrentCtrl" ng-cloak=""> 
  <div class="row">

      <div class="bg-img">
          <div class="container">
            <div class="topnav">
              <a href="/geo-home"><img class="img-responsive2"       
                  src="../images/Globe-PNG-Photo.png" WIDTH=80 HEIGHT=80></a>
              <a id="gh" href="#">geospatialDataHub</a>
              <a id="pc" href="#">university of victoria</a>
              <a id="pc" href="#">      </a>
              <a id="pc" href="#addLidarModal" data-target="#addLidarModal" data-toggle="modal">Add Lidar Image</a>
              <a id="pc" href="#">      </a>
              <a id="pc" href="#">Manage Torrents</a>
              <button class="btn btn-danger btn-lg btn-logout" onclick="logoutRedirect()" role="button" >Log out</button>
              <!-- <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a> -->
            </div>

            <div class="col-md-12">
              <div class="row" style="margin:10px">

              </div>

            </div>

          <div class="col-md-7" style="background-color: rgba(255, 255, 255, 0);padding-bottom: 2%">
              <!-- <h2 id="viewer-title" class="secondary-title">Select An Image</h2> -->
              <!-- <h2 class="secondary-title">Data Viewer</h2> -->
              
              <div class="btn-group2" role="group" aria-label="...">
                <button id="full-screen-btn" onclick="fullscreenviewer(this)" disabled>View LiDAR Fullscreen</button> 
                <button id="switcher-btn" onclick="switcher(this)" disabled>LiDAR</button> 
              </div>
              <div id="map"></div>
              <iframe id="viewFrame" src='about:blank' style="display:none"></iframe>
              <!-- <div class="btn-group btn-group-lg" role="group" aria-label="...">
                <button id="full-screen-btn" onclick="fullscreenviewer(this)" class="btn blue-button" disabled>Full Screen Viewer</button> 
                <button id="switcher-btn" onclick="switcher(this)" class="btn blue-button" disabled>Lidar</button> 
              </div> -->
              

          </div>

           

            <div class="col-md-3">
              <div class="row" style="background-color: rgba(253, 253, 253, 0)">
                <h2 id="titles" class="secondary-title">Data Center</h2>
                  <ul>
                    <button data-point="36.1699,-115.1398,14" onclick="lidarLoad(this); " class="story button"><p hidden>lasvegas</p>Las Vegas (UVIC Hyperspectral Lab)</button>
                    <button data-point="50.7259,-121.2805,14" onclick="lidarLoad(this); " class="story button"><p hidden>nrcan170</p>Ashcroft (UVIC Hyperspectral Lab)</button>
                    <button data-point="37.7749,-122.4194,12" onclick="lidarLoad(this); " class="story button"><p hidden>golden-gate</p>San Francisco (USGS)</button>
                    <button data-point="44.0585,-123.0685,16" onclick="lidarLoad(this); " class="story button"><p hidden>autzen</p>Autzen Stadium (Potree)</button>
                    <button data-point="52.3759,9.7320,14" onclick="lidarLoad(this); " class="story button"><p hidden>hanover</p>Hannover (Potree)</button>
                    <button data-point="41.6611,-91.5302,14" onclick="lidarLoad(this); " class="story button"><p hidden>beer-caves</p>Iowa City Beer Caves (UIowa)</button>
                    <button data-point="39.6665,-105.2049,14" onclick="lidarLoad(this); " class="story button"><p hidden>red-rocks</p>Red Rocks Ampitheatre (Potree)</button>
                    <button data-point="53.3498,-6.2603,14" onclick="lidarLoad(this); " class="story button"><p hidden>dublin</p>Dublin</button>
                    <button data-point="28.3949,84.1240,7" onclick="lidarLoad(this); " class="story button"><p hidden>vanuatu-village</p>Vanuatu Village, Nepal</button>
                    <button data-point="-40.9006,174.886,6" onclick="lidarLoad(this); " class="story button"><p hidden>new-zealand</p>New Zealand</button>
                  </ul>
  
                  
                  
              </div>
              </div>

            
         

            <div class="col-md-2">
            <div class="row">
                <h2 class="secondary-title">Download</h2>
                <!-- <div class="four columns">
                    <input class="u-full-width" type="text" placeholder="magnet, hash or http(s) .torrent" ng-model="torrentInput" ng-disabled="$root.disabled"/>
                </div> -->
                <div class="two columns download-button">
                  <ul>
                    <!-- <button ng-click="addMagnetLasVegas()" class="button2" ng-class="{'button-primary': torrentInput.length}"><i class="fa fa-download"></i>   LasVegas_AdjustedLasFiles.torrent (782 MB)</button>
                    
                    <button ng-click="addMagnetAshcroft()" class="button2" ng-class="{'button-primary': torrentInput.length}"><i class="fa fa-download"></i>   NRCAN-Ashcroft_2018_delivery.torrent (1.0 GB)</button> -->
                    <button ng-click="addMagnetLasVegas()" class="button2" ng-class="{'button-primary': torrentInput.length}"><i class="fa fa-download"></i>  782 MB</button>
                    <button ng-click="addMagnetAshcroft()" class="button2" ng-class="{'button-primary': torrentInput.length}"><i class="fa fa-download"></i>  1.0 GB</button>
                  </ul>
               </div>
            </div>
            </div>

            <!-- <div class="col-md-8">
              <div class="row" style="margin:30px">
              </div>
            </div> -->

            <div class="col-md-12">
              <div class="row" style="background-color: rgba(255, 255, 255, 0);padding-bottom: 100%">
              <h2 class="secondary-title">Download Center</h2>
                  <div id="view" ng-view></div> 
                  <footer></footer>
              </div>
            </div>
          </div>
          
        </div>
        </div>
<div class="spinner" ng-show="client.processing"><i class="fa fa-spinner fa-spin spinner-icon"></i></div>
<script src="./leaflet/leaflet.js"></script>
<script src="/js/app.js"></script>
<script src="/js/iframe.js"></script>
<script src="/js/map.js"></script>
<script src="/js/geoHome.js"></script>
<script src="/js/data.js"></script>

</body>
</html>

<!--Register Modal-->
<!-- Modal -->
<div class="modal fade" id="addLidarModal" tabindex="-1" role="dialog" aria-labelledby="addLidarModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="addLidarModalLabel">Add Lidar</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
        <div class="file-upload-wrapper">
            <form method="post" action="#" id="#">
           
              
              
              
                <div class="form-group files">
                  <label>Upload Your File </label>
                  <input type="file" class="form-control" multiple="">
                </div>
                
              
        </div>
		</div>
	  </div>
	</div>
  </div>
